/* =========================
   POST CARD
   ========================= */

.post {
    display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

/* HEADER */

.post__header {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

/* AVATAR */

.post__avatar {
  width: 40px;
  height: 40px;

  border-radius: 9999px;

  object-fit: cover;   /* 🔥 KLUCZ */
}

/* DATE */

.post__date {
  opacity: 0.6;
}

/* CONTENT */

.post__content {
  line-height: 1.5;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow: hidden;

  min-height: calc(1.5em * 3); /* 🔥 KLUCZ */
}

/* IMAGE */

.post__image {
  width: 100%;
  border-radius: var(--radius-md);
  object-fit: cover;
}

/* STATS */

.post__stats {
  opacity: 0.7;
  display: flex;
  gap: var(--space-2);
}

.post__stat {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}