/* app/style/bazarek/auction-grid.css */

.auction-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  gap: var(--space-3);
}

@media (max-width: 1024px) {
  .auction-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .auction-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}